
/* .container {

}

.card {
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 20px;
  color: darkgray;
  font-family: 'Times New Roman', Times, serif;
  

}

.card__id {
  font-size: 20px;
  color: darkgray;
}

.card__title {
  font-size: 35px;
  color: darkred;
  font-weight: 500;
  /* text-align: center; */
/* } */

/* .card__text {
  font-size: 20px;
}

.visited {
  background-color: white;
  color: grey;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  margin: 20px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.title {
  text-align: center;
/* } */

/* 
@import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

body {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr 600px 1fr;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: #161619;
  background-color: #fffff6;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  grid-column: 2;
  grid-row: 2;
  border: 3px solid black;
}

.cell {
  border: 2px solid darkgoldenrod;
}

.light-cell {
  background-color: #ffffff;
}

.dark-cell {
  background-color: #161619;
}
 */


 /* .scroll {
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0;

  & div {
    height: 10px;
    background-color: cornflowerblue;

  }
 } */

 /* .test {
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
 } */
/* 
 .black {
  color: black;
 }

 .active {
  color: red;
 } */

 /* * {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.header {
  width: 100%;
  height: 50px;
  background: #3B5998;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 32px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-size: 20px;
  z-index: 100;
}

img {
  opacity: .6;
}

#scroll-to-top {
  display: flex;
  /* justify-content: center;
  align-items: center;
  background: #3B5998;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 100px;
  right: 60px;
  z-index: 100;
}

.shadow {
  box-shadow: 0 5px 6px rgba(23, 23, 23, .9);
} */

/* body {
  font-family: sans-serif;
 
}



h1 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: gray;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid #1ecaab;
  border-radius: 10px;
  box-shadow: 0 0 5px #1ecaab;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #1ecaab;
  position: relative;
}

label:first-of-type {
  margin-top: 10px;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.input-wrapper .icon {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  filter: grayscale(100%);
  opacity: .8;
}

.input-wrapper .icon:hover {
  filter: grayscale(0);
  opacity: 1;
}

label .icon img {
  width: 20px;
  pointer-events: none;
}

input {
  width: 100%;
  outline: none !important;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #1ecaab;
  padding: 9px 14px;
}

input.error {
  border: 2px solid #ed2939;
  padding: 9px 14px;
}

input.error:focus {
  border: 2px solid #ed2939;
  padding: 9px 14px;
}

button[type="submit"] {
  margin: 40px auto 0 auto;
  width: fit-content;
  padding: 10px 40px;
  max-width: 300px;
  background: gray;
  border-radius: 10px;
  border: none;
  outline: unset;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  opacity: .7;
  cursor: pointer;
  transition: .1s ease;
}

button[type="submit"]:hover {
  background: #1ecaab;
  opacity: 1;
}

span.error {
  position: absolute;
  top: 110%;
  left: 0;
  font-size: 11px;
  color: #ed2939;
}

.active {
  color: red;
 }

 .font-size {
  font-size: 20px;
  transform: translateX(10px);
} */


/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

:root {
  --color1: #161619;
  --color2: #ffffff;
  --color3: orange;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  color: var(--color1);
  background-color: var(--color2);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
}

a {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--color1);
  text-decoration: none;
  color: var(--color2);
}

a.active {
  background-color: var(--color3);
  color: var(--color1);
} */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.input-container input {
  width: 90%;
  margin: 40px 0;
  padding: 24px;
  border-radius: 10px;
}

.del-btn {
  padding: 12px;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 2px rgba(20, 20, 20, .5);
  cursor: pointer;
}

.top, .center, .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.key {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  background: #d3d3d3;
  user-select: none;
  cursor: pointer;
  box-shadow: 0 3px 5px 2px rgba(20, 20, 20, .5);
}

.key * {
  pointer-events: none;
}

.key:active, button:active {
  box-shadow: none;
}

.key:hover, button:hover {
  background: #0072b2;
  color: #ffffff;
}

.space {
  margin: 0 auto;
  width: 70%;
} */

/* .valid {
  border-color: green;
}

.invalid {
  border-color: red;
} */


/* @import 'https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css';

:root {
  --color1: #161619;
  --color2: #fffff6;

  --cellColor: mistyrose;
}

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  min-height: 100vh;
  color: var(--color1);
  background-color: var(--color2);
  font-family: system-ui, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  grid-column: 2;
  grid-row: 2;
  border: 3px solid var(--color1);
}

.cell {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color1);
  background-color: var(--cellColor);
  font-size: 15px;
  font-weight: 700;
}

.clicked {
  background-color: brown;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: url("./images/grass.jpg");
}

button {
  margin: 30px;
  padding: 12px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.container {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dog {
  width: fit-content;
  position: relative;
}

.dog span {
  font-size: 56px;
  position: absolute;
  left: -120px;
  top: -50px;
  color: #FFFFFF;
  font-weight: 600;
}

@keyframes jump {
  15% {
      transform: translate(-200px, -200px);
  }

  30% {
      transform: translate(-400px, 0);
  }

  50% {
      transform: translate(-400px, 0) rotateY(180deg);
  }

  60% {
      transform: translate(-200px, -200px) rotateY(180deg);
  }

  90% {
      transform: translate(0, 0) rotateY(180deg);
  }

  100% {
      transform: translate(0, 0) rotateY(0);
  }
}

.jump {
  animation: jump 2s ease-out;
} */


/* ----------------------------------- */


/* body {
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: gray;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  user-select: none;
}

.container p {
  margin: 60px 5px 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  user-select: none;
}

.button-container button {
  margin: 10px;
  width: fit-content;
  padding: 10px 40px;
  max-width: 300px;
  background: gray;
  border-radius: 10px;
  border: none;
  outline: unset;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  opacity: .7;
  cursor: pointer;
  transition: .1s ease;
}



.button-container button:hover {
  background: #1ecaab;
  opacity: 1;
}

.button-container button:disabled {
  background: lightgrey !important;
  opacity: .7 !important;
  cursor: default !important;
} */
/* ------------------------------------------ */

/* 
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#space-ship {
  will-change: transform;
}

.up {
  transform: translateY(-10px);
}
.down {
  transform: translateY(10px);
}
.left {
  transform: translateX(-50px);
}
.right {
  transform: translateX(50px);
} */


body {
  font-family: sans-serif;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: gray;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border: 1px solid #1ecaab;
  border-radius: 10px;
  box-shadow: 0 0 5px #1ecaab;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #1ecaab;
  position: relative;
}

label:first-of-type {
  margin-top: 10px;
}

.input-wrapper {
  width: 100%;
  position: relative;
}

.input-wrapper .icon {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  filter: grayscale(100%);
  opacity: .8;
}

.input-wrapper .icon:hover {
  filter: grayscale(0);
  opacity: 1;
}

label .icon img {
  width: 20px;
  pointer-events: none;
}

input {
  width: 100%;
  outline: none !important;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  box-sizing: border-box;
}

input:focus {
  border: 2px solid #1ecaab;
  padding: 9px 14px;
}

button[type="submit"] {
  margin: 40px auto 0 auto;
  width: fit-content;
  padding: 10px 40px;
  max-width: 300px;
  background: gray;
  border-radius: 10px;
  border: none;
  outline: unset;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  opacity: .7;
  cursor: pointer;
  transition: .1s ease;
}

button[type="submit"]:hover {
  background: #1ecaab;
  opacity: 1;
}
.checkbox-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container label {
  width: 300px;
  line-height: 20px;
  vertical-align: center;
}

.checkbox-container .input-wrapper {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.checkbox-container input {
  width: 20px;
  height: 20px;
}





