/* * {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 24px;
}

h1, h3 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 200px;
    padding: 10px;
}

.card img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 20px;
}

.card span {
    width: 100%;
    text-align: center;
    color: grey;
} */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

form, .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    padding: 12px;
}

label {
    margin: 15px 0 5px;
    font-size: 14px;
    color: grey;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 4px 8px;
    border-radius: 3px;
}

button {
    width: fit-content;
    box-sizing: border-box;
    padding: 7px 12px;
    cursor: pointer;
    filter: brightness(.9);
    margin: 10px 0;
    border-radius: 3px;
}

button:hover {
    filter: brightness(1);
}


