* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.content-container {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 320px;

    @media (min-width: $bp-tablet) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $bp-desktop) {
        max-width: 1020px;
        margin: 0 auto;
    }
}

// @include flex(row, center, center, 0);

@media (min-width: $bp-tablet) {}


@media (min-width: $bp-desktop) {}