@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../../fonts/Montserrat-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("../../fonts/Lato-Regular.woff2");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url("../../fonts/Lato-Bold.woff2");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Italic';
    src: url("../../fonts/Lato-BoldItalic.woff2");
    font-weight: 700;
    font-display: swap;
}
