:root {
    --main-color: grey;
}

.inProcess {
    --main-color: red;
}

.completed {
    --main-color: green;
}

.timer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.countdown-container,
.display {
    width: 300px;
    height: 300px;
    border: 2px solid var(--main-color);
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.display-content {
    color: var(--main-color);
    font-size: 25px;
    text-align: center;
    max-width: 80%;
}

.timer-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: purple;
    border: none;
    border-radius: 20px;
}