body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

button {
    width: fit-content;
    box-sizing: border-box;
    padding: 12px 20px;
    cursor: pointer;
    filter: brightness(.9);
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    background-color: purple;
}

button:hover {
    filter: brightness(1);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
