:root {
    --text-color: #0E0F13;
    --light-text-color: #7F828A;
    --light-blue: #425DF8;
    --dark-blue: #161A34;
    --white: #FDFDFD;
}

.change-theme {
    --text-color: rgb(1, 1, 196);
    --light-text-color: rgb(84, 10, 174);
    --light-blue: #344764;
    --dark-blue: #4c58a9;
    --white: #eeecdf;
}


body {
    font-family: 'Cabin', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}

* {
    box-sizing: border-box;
}

.content-wrapper {
    width: 1296px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
    margin-bottom: 105px;
    position: relative;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    cursor: pointer;
}

.header-logo img {
    width: 40px;
    height: 40px;
}

.header-logo a {
    color: var(--text-color);
    leading-trim: both;
    text-edge: cap;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}

.header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navigation-list {
    display: flex;
    gap: 56px;
}

.header-navigation-list-item {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}

.header-navigation-list-item:hover {
    color: var(--light-blue);
}

.sign-buttons {
    display: flex;
    gap: 24px;
}

.button {
    padding: 18px 22px;
    border-radius: 8px;
    border-style: none;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    cursor: pointer;
}

.blue-button {
    border: 1px solid var(--light-blue);
    background: var(--light-blue);
    color: #F6FDFF;
}

.blue-button:hover {
    background-color: inherit;
    color: var(--light-blue);
}

.white-button {
    border: 1px solid #DADADA;
    background-color: inherit;
    color: var(--text-color);
}

.white-button:hover {
    background: #DADADA;

}

.change-theme-button {
    position: absolute;
    top: 150px;
    right: 0;
}

/*MAIN--------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 196px;
}

h1 {
    color: var(--text-color);
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 24px;
}

main>span {
    color: var(--light-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 120px;
}

.plan-cards-container {
    display: flex;
    gap: 24px;
    align-items: flex-end;
    justify-content: center;
}

.plan-card {
    width: 416px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: var(--white);
    padding: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plan-card-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
    gap: 27px;
}

.plan-card-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.plan-card-name {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}

.plan-card-description {
    color: var(--light-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
}

.plan-card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.plan-card-price span:first-child {
    color: var(--text-color);
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}

.plan-card-price span:nth-child(2) {
    color: var(--light-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.plan-card-additional-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
}

.plan-card-additional-info-item {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    color: var(--light-text-color);
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;

}

.plan-card-additional-info-item img {
    width: 24px;
    height: 24px;
}

.plan-card-outlined {
    border: 1px solid var(--dark-blue);
    background: var(--dark-blue);
}

.plan-card-text-outlined {
    color: #F6FDFF !important;
}

/*FOOTER-------------------------------------------*/

footer {
    border-top: 1px solid var(--text-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 24px;
    height: 24px;
}

.footer-logo a {
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.footer-content>span {
    color: var(--light-text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}