* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #3B5998;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

.date-style {
    font-size: 24px;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
}

main {
    margin-top: 100px;
}

h1, h2 {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px;
}

h1 {
    font-size: 32px;
    line-height: 46px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
}

.date-style {
    font-size: 24px;
    font-weight: 700;
    color: yellow;
}

/* DOGS ------------------------------------------------------------ */

.dog-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    margin: 0 auto;
}
/* ===================== */
.reservedImage {
    position: relative;
}
.reservedImage::before{
    content: 'Reserved';
    position: absolute;
    color:white;
    font-size: 32px;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 2;
}
.reservedImage::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* CATS ------------------------------------------------------------ */

.cat-item {

    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
        align-items: center;
    gap: 20px;

    & img {
        width: 100px;
        height: 100px;
    }

}

.cat-fact {
    display: block;
    border: 2px solid grey;
    height: 100%;
    padding: 10px;
}

.red-cat {
    color: red;
    font-weight: 700;
}

/* STAR WARS ------------------------------------------------------------ */

.sw-gallery {
    padding: 30px;
    border: 1px solid grey;
    border-radius: 20px;
    background: lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;


    & img {
        width: 100%;
        margin-bottom: 20px; 
    }

    & h3 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-left: 20px;
    }
}

.sw-item {
    border: 1px solid grey;
    padding: 15px;
    border-radius: 10px;
}