.header {
    padding-top: 31px;
    padding-bottom: 31px;
    width: 100%;
    background-color: $dark-purple;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;

    @media (min-width: $bp-tablet) {
        padding-top: 24px;
        padding-bottom: 18px;
    }

    @media (min-width: $bp-desktop) {
        background-color: $black;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

.header__container {
    @include flex(row, space-between, center);

    @media (min-width: $bp-tablet) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }

    @media (min-width: $bp-desktop) {
        grid-template-columns: 164px 1fr 145px;
        row-gap: unset;
        column-gap: 38px;
    }
}

.header__logo {
    @include flex(row, space-between, center, 17px);
    
    max-width: fit-content;
}

.header__company-name {
    display: none;

    @media (min-width: $bp-tablet) {
        display: inline-block;
        color: $light-purple;
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
    }
}

.btn-primary.header__buy-btn {
    @media (min-width: $bp-tablet) {
        justify-self: end;
    }

    @media (min-width: $bp-desktop) {
        grid-column: 3;
    }
}

.header__navigation {
    display: none;

    @media (min-width: $bp-tablet) {
        @include flex(row, center, center, 47px);
        grid-column: span 2;
    }

    @media (min-width: $bp-desktop) {
        grid-row: 1;
        grid-column: 2 / span 1;
        justify-self: end;
    }
}

.header__nav-item {
    color: $light-purple;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    @media (min-width: $bp-desktop) {
        line-height: 15px;
    }
}