.here-is-what-you-get {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (min-width: $bp-tablet) {
        padding-top: 62px;

    }


    @media (min-width: $bp-desktop) {}
}

.here-is-what-you-get__title {
    color: $light-purple;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 36px;

    @media (min-width: $bp-tablet) {
        font-size: 42px;
        line-height: 44px;
        margin-bottom: 50px;
    }


    @media (min-width: $bp-desktop) {
        font-size: 48px;
        line-height: 50px;
    }
}

.here-is-what-you-get__description {
    @include flex (column, center, center, 40px);

    @media (min-width: $bp-tablet) {
        @include flex (column, center, center, 60px);
    }
}

.here-is-what-you-get__description-item {
    padding-bottom: 38px;
    max-width: 435px;
    margin: 0 auto;
    @include flex (column, center, center);

    @media (min-width: $bp-tablet) {
        // @include flex (row, center, center, 24px);
        max-width: 100%;
        padding-bottom: 0;
        display: grid;
        grid-template-columns: 111px auto;
        column-gap: 25px;

    }


    @media (min-width: $bp-desktop) {}
}

.here-is-what-you-get__description-img {
    grid-column: 1 / span 1;
    margin-bottom: 27px;
    justify-self: center;
    align-self: center;


    @media (min-width: $bp-tablet) {
        margin-bottom: 0;
    }
}

.here-is-what-you-get__description-title {
    color: $grey2;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 14px;

    @media (min-width: $bp-tablet) {
        margin-bottom: 16px;
        line-height: 21px;
        text-align: start;
    }


    @media (min-width: $bp-desktop) {}
}

.here-is-what-you-get__description-text {
    color: #848E97;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: $bp-tablet) {
        text-align: justify;
    }


    @media (min-width: $bp-desktop) {}
}