.hero-banner {
    min-width: 320px;
    padding-top: 152px;
    min-height: 795px;
    background-image: url(../../img/hero-banner/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    @media (min-width: $bp-tablet) {
        background-image: url(../../img/hero-banner/hero-tablet.jpg);
        padding-top: 190px;
    }

    @media (min-width: $bp-desktop) {
        background-image: url(../../img/hero-banner/hero-desktop.jpg);
        padding-top: 183px;
    }
}

.hero-banner__title {
    color: $white-2;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 19px;

    @media (min-width: $bp-tablet) {
        font-size: 72px;
        line-height: 72px;
    }

    @media (min-width: $bp-desktop) {
        font-size: 82px;
        line-height: 82px;
    }
}

.hero-banner__subtitle {
    color: $light-purple;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 14px;

    @media (min-width: $bp-tablet) {
        margin-bottom: 19px;
        font-size: 24px;
    }

    @media (min-width: $bp-desktop) {
        font-size: 30px;
        line-height: 30px;
    }
}

.hero-banner__add-info {
    color: $grey;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;

    @media (min-width: $bp-desktop) {
        font-size: 16px;
        line-height: 16px;
    }
}

.btn-primary.hero-banner__btn {
    min-width: 289px;
    font-size: 18px;
    line-height: 20px;
    padding: 13px 30px;
    position: absolute;
    bottom: -21px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $bp-tablet) {
        font-size: 21px;
        line-height: 23px;
        padding: 23px 61px;
        bottom: -34px;
    }

    &::after {
        content: 'Unlimited 30-Days Trial Period';
        color: $grey;
        font-size: 14px;
        line-height: 14px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;
        text-wrap: nowrap;

        @media (min-width: $bp-tablet) {
            line-height: 16px;
        }
    }
}