.revolutionary-editor__title {
    color: $purple;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-top: 115px;

    @media (min-width: $bp-tablet) {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 33px;
        margin-top: 150px;
    }


    @media (min-width: $bp-desktop) {
        font-size: 54px;
        line-height: 54px;
        margin-bottom: 35px;
        margin-top: 123px;
    }
}

.revolutionary-editor__description {
    color: $grey2;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 100px;

    @media (min-width: $bp-tablet) {
        font-size: 21px;
        line-height: 32px;
    }

}