.burger-button {
    @include flex(column, center, flex-end, 10px);

    @media (min-width: $bp-tablet) {
        display: none;
    }
}

.burger-button__item {
    width: 26px;
    height: 3px;
    border-radius: 5px;
    background: $white-2;
}

.burger-button__item:first-of-type {
    width: 15px;
}

.btn-primary {
    display: block;
    border-radius: 40px;
    background: $light-purple;
    border: none;
    padding: 11px 20px;
    color: $white-2;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    max-width: fit-content;
    cursor: pointer;

    @media (min-width: $bp-tablet) {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        line-height: 16px;
    }

    @media (min-width: $bp-desktop) {
        line-height: 17px;
    }
}